@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

footer {
  background-color: variables.$color-neutral-dark;
  height: 100vh;
  margin-left: 3vw;
  position: relative;
  width: 19vw;

  .footer-layer {
    height: 100vh;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 19vw;
  }

  & > .layer-0 {
    background-color: rgba(variables.$color-tertiary-zeta, 30%);
    filter: blur(7.17rem);
    z-index: 2;
  }

  & > .layer-1 {
    border-left: solid 1.04rem variables.$color-tertiary-epsilon;
    filter: blur(7.17rem);
    z-index: 3;
  }

  & > .layer-2 {
    border-left: solid 1.35rem variables.$color-tertiary-epsilon;
    filter: blur(2.39rem);
    z-index: 4;
  }

  & > .layer-3 {
    border-left: solid 1.04rem rgba(variables.$color-tertiary-beta, 20%);
    box-shadow: 0 2.39rem 3.1rem variables.$color-tertiary-gamma,
      0 1.04rem 0.8rem rgba(variables.$color-tertiary-delta, 70%);
    filter: blur(0.16rem);
    z-index: 5;

    &::before {
      box-shadow: inset -0.11rem 0.21rem 0.11rem rgba(#fff, 50%);
    }

    & > .layer-4 {
      border-left: solid 0.63rem variables.$color-tertiary-alpha;
      filter: blur(0.16rem);
      z-index: 6;
    }
  }

  #footer-menu {
    border-left: solid 0.31rem #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 19vw;
    z-index: 7;

    ul {
      list-style-type: none;
      margin-left: 20%;
      padding: 0;
      position: relative;
      width: 100%;
      -webkit-font-smoothing: antialiased;

      &:first-child {
        margin-top: calc(1rem + 5vh);

        li {
          margin: 1em 0;

          .container-stroke-neon {
            position: relative;
            width: fit-content;

            a {
              display: block;
            }

            span {
              border: none;
              top: 50%;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &:last-child {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        margin-bottom: 5vh;

        li {
          &:first-child {
            a {
              width: 2.25rem;
            }
          }

          &:last-child {
            margin-left: 2rem;

            a {
              width: 3.5rem;
            }
          }

          a {
            filter: drop-shadow(
              0 0 0.5rem rgba(variables.$color-primary-beta, 30%)
            );

            svg {
              border: none;
              height: 2.2rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  footer {
    height: 6.5rem;
    margin: 10% 0 0;
    width: 100vw;

    .footer-layer {
      height: 6.5rem;
      width: 100vw;
    }

    & > .layer-0 {
      background-color: rgba(variables.$color-tertiary-zeta, 30%);
      filter: blur(7.17rem);
      z-index: 2;
    }

    & > .layer-1 {
      border-left: none;
      border-top: solid 1.04rem variables.$color-tertiary-epsilon;
      filter: blur(7.17rem);
      z-index: 3;
    }

    & > .layer-2 {
      border-left: none;
      border-top: solid 1.35rem variables.$color-tertiary-epsilon;
      filter: blur(2.39rem);
      z-index: 4;
    }

    & > .layer-3 {
      border-left: none;
      border-top: solid 1.04rem rgba(variables.$color-tertiary-beta, 20%);
      box-shadow: 0 2.39rem 3.1rem variables.$color-tertiary-gamma,
        0 1.04rem 0.8rem rgba(variables.$color-tertiary-delta, 70%);
      filter: blur(0.16rem);
      z-index: 5;

      &::before {
        box-shadow: inset -0.11rem 0.21rem 0.11rem rgba(#fff, 50%);
      }

      & > .layer-4 {
        border-left: none;
        border-top: solid 0.63rem variables.$color-tertiary-alpha;
      }
    }

    #footer-menu {
      border-left: none;
      border-top: solid 0.31rem #fff;
      flex-direction: row;
      justify-content: space-around;
      width: 100vw;
      z-index: 7;

      ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        width: 30%;

        &:first-child {
          margin: 1rem 0 0 !important;
        }

        &:last-child {
          justify-content: space-around;
          margin: 3rem 0 0 !important;
        }
      }
    }
  }
}
