@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

html {
  scrollbar-width: none;
}

body {
  background-color: variables.$color-neutral-dark;
  margin: -1vh 0 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;

  .wrapper {
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
  }
}

section[class^="slide"] {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  position: relative;

  .container-xl {
    height: 100%;
    left: 50% !important;
    padding: 0 !important;
    position: absolute !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 100%;
  }
}

.slide-0 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  box-shadow: 1vw 1.5vh 1vw rgba(#000000, 25%);
}

img,
picture,
source {
  width: 100%;
}

.container-lg {
  margin-top: 8rem;
}

@media only screen and (max-width: 1200px) {
  html > body {
    margin: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    width: auto;
  }
}
