@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

header {
  position: fixed;
  z-index: 13;

  nav {
    display: block;
    margin: 5vh 0 0 5vw;
    position: fixed;
    top: 0;

    #menu {
      background: variables.$color-neutral-dark;
      height: 100vh;
      list-style-type: none;
      margin: calc(-5vh - 2em) 0 0 -5vw;
      padding: 12vh 5vw 5vh;
      position: absolute;
      transform: translate(-100%, 0);
      transform-origin: 0% 100%;
      transition: 0.25s ease-in-out;
      -webkit-font-smoothing: antialiased;

      ul {
        z-index: 14;
      }

      li {
        margin: 1em 0;

        a {
          display: block;
          position: relative !important;
          text-align: center;
          width: 8em;
        }

        span {
          padding: 0.2em 0.3em;
          top: 0 !important;
          width: 100%;
        }
      }

      &.uncollapse {
        transform: none;
      }
    }

    #menu-toggle {
      cursor: pointer;
      height: 3em;
      margin: auto;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      user-select: none;
      width: 4em;
      z-index: 15;

      .container-hamburger {
        background-color: rgba(variables.$color-neutral-dark, 20%);
        left: 0;
        position: absolute;
        opacity: 1;
        top: 50%;
        transform: rotate(0deg) translateY(-50%);
        transition: 0.25s ease-in-out;
        width: 100%;

        .hamburger {
          background: none;
          border: solid 1px #fff;
          z-index: 21;
        }

        .layer-1 {
          background-color: rgba(variables.$color-primary-icon-alpha, 30%);
          border-radius: 5rem;
          filter: blur(1.17rem);
          z-index: 16;
        }

        .layer-2 {
          border: solid 0.17rem variables.$color-primary-icon-beta;
          filter: blur(1.17rem);
          z-index: 17;
        }

        .layer-3 {
          border: solid 0.22rem variables.$color-primary-icon-gamma;
          filter: blur(0.39rem);
          z-index: 18;
        }

        .layer-4 {
          border: solid 0.17rem rgba(variables.$color-primary-icon-delta, 20%);
          text-shadow: -0.02rem 0.03rem 0.02rem rgba(#fff, 50%),
            0 0.39rem 0.51rem variables.$color-primary-icon-epsilon,
            0 0.17rem 0.13rem rgba(variables.$color-primary-icon-zeta, 70%);
          z-index: 19;
        }

        .layer-5 {
          border: solid 0.1rem variables.$color-primary-icon-eta;
          filter: blur(0.03rem);
          z-index: 20;
        }

        span {
          display: block;
          height: 0.8em;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
        }

        &:nth-child(1) {
          top: 0;
        }

        &:nth-child(2) {
          box-shadow: none;
          top: 1.1em;
        }

        &:nth-child(3) {
          top: 1.1em;
        }

        &:nth-child(4) {
          top: 2.2em;
        }
      }

      &.open {
        .container-hamburger {
          &:nth-child(1) {
            left: 50%;
            top: 1.1em;
            visibility: hidden;
            width: 0%;
          }

          &:nth-child(2) {
            transform: rotate(45deg);
          }

          &:nth-child(3) {
            transform: rotate(-45deg);
          }

          &:nth-child(4) {
            left: 50%;
            top: 1.1em;
            visibility: hidden;
            width: 0%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  header {
    background-color: variables.$color-neutral-dark;
    height: 6.5rem;
    top: 0;
    width: 100vw;

    nav {
      margin: 2.5rem 0 0 1.5rem;
    }
  }
}
