@use 'sass:map';

@font-face {
  font-family: 'Anurati';
  src: url('/assets/fonts/anurati-free/Anurati-Regular.otf');
}

@font-face {
  font-family: 'Times Square';
  src: url('/assets/fonts/times-square/timessq.ttf');
}

// All fonts
$font-body: ('Abel', sans-serif);
$font-cta: ('Times Square', fallback, sans-serif);
$font-number: ('Roboto', sans-serif);
$font-title: ('Anurati', fallback, sans-serif);

// Body colors
$color-neutral-dark: #030722;
$color-neutral-light: #fdfefd;

// Primary color variants
$color-primary: (
  'tint-1': #82d9ff,
  'tint-2': #00b8fc,
  'tint-3': #00b2ff,
  'tint-4': #0094ff,
  'tint-5': #128dff,
  'tint-6': #0066ff,
  'tint-7': #000d15,
);
$color-primary-alpha: map.get($color-primary, tint-1);
$color-primary-beta: map.get($color-primary, tint-3);
$color-primary-gamma: map.get($color-primary, tint-6);
$color-primary-delta: map.get($color-primary, tint-7);
$color-primary-epsilon: map.get($color-primary, tint-4);
$color-primary-zeta: map.get($color-primary, tint-5);

// Primary color variants for icons
$color-primary-icon-alpha: map.get($color-primary, tint-1);
$color-primary-icon-beta: map.get($color-primary, tint-3);
$color-primary-icon-gamma: map.get($color-primary, tint-6);
$color-primary-icon-delta: map.get($color-primary, tint-7);
$color-primary-icon-epsilon: map.get($color-primary, tint-4);
$color-primary-icon-zeta: map.get($color-primary, tint-4);
$color-primary-icon-eta: map.get($color-primary, tint-5);

// Secondary color variants
$color-secondary: (
  'tint-1': #fa418f,
  'tint-2': #ff3780,
  'tint-3': #fb37ff,
  'tint-4': #ff26c2,
  'tint-5': #f32e7c,
  'tint-6': #990099,
  'tint-7': #4d0042,
);
$color-secondary-alpha: map.get($color-secondary, tint-4);
$color-secondary-beta: map.get($color-secondary, tint-5);
$color-secondary-gamma: map.get($color-secondary, tint-6);
$color-secondary-delta: map.get($color-secondary, tint-7);
$color-secondary-epsilon: map.get($color-secondary, tint-3);
$color-secondary-zeta: map.get($color-secondary, tint-2);

// Secondary color variants for icons
$color-secondary-icon-alpha: map.get($color-secondary, tint-3);
$color-secondary-icon-beta: map.get($color-secondary, tint-3);
$color-secondary-icon-gamma: map.get($color-secondary, tint-6);
$color-secondary-icon-delta: map.get($color-secondary, tint-7);
$color-secondary-icon-epsilon: map.get($color-secondary, tint-4);
$color-secondary-icon-zeta: map.get($color-secondary, tint-5);
$color-secondary-icon-eta: map.get($color-secondary, tint-2);

// Tertiary color variants
$color-tertiary: (
  'tint-1': #c882ff,
  'tint-2': #cc00ff,
  'tint-3': #8f00ff,
  'tint-4': #6100ff,
  'tint-5': #8300c1,
  'tint-6': #32178a,
  'tint-7': #0e0015,
);
$color-tertiary-alpha: map.get($color-tertiary, tint-1);
$color-tertiary-beta: map.get($color-tertiary, tint-4);
$color-tertiary-gamma: map.get($color-tertiary, tint-5);
$color-tertiary-delta: map.get($color-tertiary, tint-7);
$color-tertiary-epsilon: map.get($color-tertiary, tint-2);
$color-tertiary-zeta: map.get($color-tertiary, tint-3);

$color-tertiary-icon-alpha: map.get($color-tertiary, tint-1);
$color-tertiary-icon-beta: map.get($color-tertiary, tint-3);
$color-tertiary-icon-gamma: map.get($color-tertiary, tint-6);
$color-tertiary-icon-delta: map.get($color-tertiary, tint-7);
$color-tertiary-icon-epsilon: map.get($color-tertiary, tint-4);
$color-tertiary-icon-zeta: map.get($color-tertiary, tint-4);
$color-tertiary-icon-eta: map.get($color-tertiary, tint-5);
