@use '../../abstracts/variables.scss';
@use '../../abstracts/mixin.scss';

#accesso {
  #wrapper {
    background-image: url('/assets/img/desktop/accesso/desktop_accesso_background.svg');

    .slice-0 {
      background-image: url('/assets/img/desktop/accesso/desktop_accesso_intro.webp');
      position: relative;

      .container-h1 {
        left: 50%;
        position: absolute;
        top: 50%;

        h1,
        span {
          transform: translate(-50%, -50%) !important;
        }
      }
    }

    .slice-1 {
      .row {
        .col-7 {
          background-image: url('/assets/img/desktop/accesso/desktop_accesso_cambialatuavita_1.webp');
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          height: 100%;
          margin-right: -5%;
          position: relative;

          .sheet-content {
            padding: 0 16%;
            position: absolute;
            top: 38%;
            z-index: 3;

            .container-h2 {
              h2 {
                padding-right: 16%;
              }

              span {
                padding-right: 16%;
                line-height: 125%;
              }
            }

            p {
              margin-top: 3rem;
              position: relative;
              z-index: 3;
            }

            &::before {
              height: calc(100% + 3rem);
              width: calc(100% + 3rem);
              z-index: 2;
            }
          }

          &::after {
            background: variables.$color-neutral-dark;
            background: linear-gradient(
              0deg,
              rgba(variables.$color-neutral-dark, 100%) 10%,
              rgba(variables.$color-neutral-dark, 0) 100%
            );
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 1;
          }
        }

        .col-5 {
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: flex-start;
          margin: -10% 0 0 -5%;
          z-index: 4;

          .row {
            height: fit-content;
            margin: 0 0 -10%;

            &:nth-child(2) {
              z-index: 5;
            }
          }
        }
      }
    }

    .slice-2 {
      .container-xl {
        padding: 0 10% !important;

        .row-intro {
          margin-bottom: 3%;

          .container-h2 {
            height: 3rem;
            margin-top: 1rem;
            position: relative;

            h2,
            span {
              top: 50%;
              transform: translateY(-50%);
            }
          }

          p {
            margin-top: 0.75rem;
            position: relative;
          }

          @media only screen and (max-height: 820px) {
            margin-bottom: 1rem;
          }
        }

        .form-container {
          form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .container-input-neon {
              margin: 0;
              height: 2.5rem;
            }

            .form-row:first-child {
              .col-6 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                #name-col {
                  padding-right: 10%;
                }

                #surname-col {
                  padding-left: 10%;
                }

                #letter-col {
                  height: 100%;

                  .container-input-neon {
                    height: 11rem;
                    margin-top: -0.5rem;

                    input,
                    span,
                    textarea {
                      height: 100%;
                      top: 50%;
                    }

                    @media only screen and (max-height: 860px) {
                      height: 9rem;
                    }

                    @media only screen and (max-height: 800px) {
                      height: 6rem;
                    }
                  }
                }

                .form-check {
                  margin-top: 3rem;

                  .form-check-label {
                    margin: 0 0 0 5rem;
                  }

                  .container-check-neon {
                    margin-left: 2rem;
                  }
                }

                &:first-child {
                  padding-right: 5%;

                  .row {
                    margin-bottom: 1rem;

                    &:last-child {
                      margin-bottom: 0;
                    }
                  }
                }

                &:last-child {
                  padding-left: -5%;
                }

                #avatar-row {
                  height: 78% !important;
                }

                #avatar-col {
                  height: 100%;
                  position: relative;
                }

                #avatar-edit {
                  left: 50%;
                  position: absolute;
                  top: 50%;

                  input {
                    display: none;
                  }

                  .container-btn-neon {
                    label {
                      cursor: pointer;
                    }

                    label,
                    span {
                      transform: translate(-50%, -50%) !important;
                    }
                  }
                }

                #avatar-preview {
                  height: 100%;
                  position: relative;
                  width: 100%;
                }

                #image-preview {
                  background-image: url('/assets/img/desktop/accesso/desktop_accesso_registrazione.jpg');
                  background-size: contain;
                  background-repeat: no-repeat;
                  background-position: center;
                  height: 100%;
                  width: 100%;
                }
              }
            }

            .form-row:last-child {
              margin-top: 3%;

              .container-btn-neon {
                height: 3rem;
                margin-top: 1rem;
                width: 100%;

                button,
                span {
                  left: 50%;
                  transform: translate(-50%, -50%);
                }
              }

              @media only screen and (max-height: 820px) {
                .col-10 {
                  width: 70%;
                }

                .col-4 {
                  width: 30%;
                }
              }
            }

            .form-label {
              font-size: 1.5rem;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .slice-3 {
      .container-xl > .row {
        margin-top: 3rem;

        .sheet-content {
          z-index: 2;

          .container-h2,
          .container-h3 {
            margin-top: -1rem;
            z-index: 3;
          }

          p {
            position: relative;
            z-index: 3;
          }

          &::before {
            height: calc(100% + 3rem);
            width: calc(100% + 3rem);
            z-index: 1;
          }
        }

        .col-6:last-child {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          margin: -10% 0 0 -5%;
        }

        .col-6:first-child {
          display: flex;
          flex-direction: column;
          justify-content: center;

          .row {
            &:first-child {
              margin-bottom: 5%;
            }

            &:last-child {
              margin-left: 15%;
              width: 115%;
            }

            &:nth-child(2) {
              margin: 0 -5% -35% 0;
              z-index: 0;

              img,
              source {
                width: 110%;
              }
            }

            &:nth-child(3) {
              z-index: -1;
            }
          }
        }
      }
    }
  }
}
