@use '../../abstracts/variables.scss';
@use '../../abstracts/mixin.scss';

#community {
  #wrapper {
    background-image: url('/assets/img/desktop/community/desktop_community_background.svg');
  }

  .slice-0 {
    background-image: url('/assets/img/desktop/community/desktop_community_intro.webp');
    position: relative;

    .container-h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      width: inherit;

      h1,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }

    picture {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    img,
    source {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .slice-1 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .row:nth-child(2) {
        margin-top: 10%;
      }

      .row:nth-child(3) {
        margin-top: 5%;
      }

      .row:last-child {
        margin-top: 5%;
      }

      .container-h2 {
        width: 100%;

        h2,
        span {
          left: 50%;
          transform: translateX(-50%);
          line-height: 1.5;
        }
      }

      .container-stroke-neon {
        margin-top: 2.5rem;

        span {
          font-family: variables.$font-number;
          font-size: 6rem;
        }
      }
    }
  }

  .slice-2 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row:last-child {
        margin-top: 3%;
      }

      #flags-container {
        display: grid;
        grid-template-columns: [c1] 5% [c2] 5% [c3] 5% [c4] 5% [c5] 5% [c6] 5% [c7] 5% [c8] 5% [c9] 5% [c10] 5% [c11] 5% [c12] 5% [c13] 5% [c14] 5% [c15] 5% [c16] 5% [c17] 5% [c18] 5% [c19];
        grid-template-rows: [r1] 10% [r2] 10% [r3] 10% [r4] 10% [r5] 10% [r6] 10% [r7] 10% [r8] 10% [r9] 10% [r10] 10% [r11];
      }

      #flag-lg {
        grid-column: c2/c16;
        grid-row: r1/r8;
      }

      #flag-1 {
        grid-column: c13/c19;
        grid-row: r2/r6;
      }

      #flag-2 {
        grid-column: c12/c18;
        grid-row: r6/r10;
        margin-top: 2%;
      }

      #flag-3 {
        grid-column: c1/c7;
        grid-row: r7/r11;
      }
    }
  }

  .slice-3 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .container-h2 {
      left: 50%;
      position: absolute;
      width: calc(100% - var(--bs-gutter-x));

      h2,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }

    #song-container {
      position: relative;

      .container-btn-neon {
        border-radius: 100%;
        margin: 2.5rem auto 0;
        overflow: visible;
        width: 6.7rem;

        span {
          border-radius: 100%;
          height: 6.7rem;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 6.7rem;
        }

        svg {
          border-radius: 100%;
          height: 6.7rem;
          overflow: visible;
          padding: 1.75rem;
          transform: translate(-50%, -50%) !important;
          width: 6.7rem;
        }

        .icon-layer-5 {
          border-radius: 100%;
          height: 5rem;
          transform: translate(-50%, -50%);
          width: 5rem;
        }
      }

      #anthem-play-button {
        background: none;
        border-radius: 100%;
        height: 6.7rem;
        left: 50%;
        overflow: visible;
        transform: translateX(-50%);
        width: 6.7rem;
        z-index: 10;

        .icon-section-2 {
          transition: stroke-dashoffset 300ms ease-in;
          stroke-dashoffset: 0;

          &.play {
            stroke-dashoffset: 314;
          }
        }

        & > svg:first-child {
          background: transparent;
          fill: none;
          stroke: #fff;
          stroke-width: 1.1;
          z-index: 8;
        }
      }
    }

    p {
      text-align: center;
    }

    img,
    picture,
    source {
      width: 100%;
    }
  }

  .slice-4 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .row {
        &:first-child {
          z-index: -1;
        }

        &:nth-child(2) {
          margin-top: -25%;
        }

        &:last-child {
          margin-top: -5%;

          .col-9 {
            .row {
              height: 100%;

              .col-5 {
                display: flex;
                flex-direction: column-reverse;
                height: 100%;

                &:first-child {
                  justify-content: center;
                }

                &:last-child {
                  justify-content: flex-end;
                  margin-left: -5%;
                }

                &:nth-child(2) {
                  justify-content: flex-start;
                  margin-left: -5%;
                }
              }
            }
          }
        }
      }
    }
  }
}
