@use '../../abstracts/variables.scss';
@use '../../abstracts/mixin.scss';

#home {
  #wrapper {
    background-image: url('/assets/img/desktop/home/desktop_home_background.svg');
  }

  .slice-0 {
    background-color: #0e0125;
    position: relative;

    img {
      height: 100%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    .container-h1 {
      display: none;
    }
  }

  .slice-1 {
    .row {
      &:first-child {
        margin-bottom: -2%;
        .sheet-content {
          margin-left: -10%;
        }

        .sheet-img {
          z-index: -2;
        }

        img,
        picture,
        source {
          right: 0;
          width: 95%;
        }
      }

      &:nth-child(2) {
        .sheet-content {
          margin-right: -5%;

          div[class^='container'] * {
            right: 0;
          }

          p {
            text-align: right;
          }
        }

        .sheet-img {
          position: relative;
          z-index: -1;

          img,
          picture,
          source {
            left: 0;
            width: 95%;
          }
        }
      }

      &:last-child {
        margin-top: -3%;
        .sheet-content {
          margin-left: -5rem;
        }

        .sheet-img {
          z-index: 0;
        }

        img,
        picture,
        source {
          right: 0;
          width: 95%;
        }
      }
    }

    .sheet-content {
      margin: 3% 0 0;
      padding: 0;
      z-index: 2;

      &::before {
        margin: -3.5rem -1.5em 0 0;
      }

      p {
        position: relative;
        z-index: 3;
      }
    }

    .sheet-img {
      margin: 0;
      padding: 0;
    }
  }

  .slice-2 {
    .row {
      .col-6 {
        padding-top: 1rem;
        z-index: 1;

        .container-btn-neon a,
        span {
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:first-child {
        .col {
          height: 2.5rem;
          margin-top: 1.75rem;
        }
      }

      &:last-child {
        margin-top: 2%;

        .col-5 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          z-index: 1;
        }

        .container-btn-neon {
          &:first-of-type {
            a,
            span {
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          &:last-child {
            margin-bottom: 3%;

            a,
            span {
              right: 0;
            }
          }
        }
      }

      &:nth-child(2) {
        .col-4 {
          display: flex;
          flex-direction: column;
          margin-top: 1.15rem;
          padding: 0;

          .sheet-vertical {
            .container-btn-neon {
              a,
              span {
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          &:first-child {
            justify-content: center;
            margin-right: -5%;

            picture {
              z-index: -1;
            }
          }

          &:last-child {
            justify-content: flex-start;
            margin-left: -5%;

            picture {
              z-index: -1;
            }
          }

          &:nth-child(2) {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .slice-3 {
    .row {
      .col-5 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 !important;

        div {
          margin: 4% 0 0;
          padding: 0;
          z-index: 1;

          p {
            margin-top: 3rem;
          }

          &::before {
            height: calc(100% + 3rem);
            width: calc(100% + 3rem);
          }
        }

        picture:last-child {
          width: 70%;

          img,
          source {
            width: 70%;
          }
        }
      }

      .col-7 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 10% 0 0 -7.5%;
        padding: 0 !important;

        .container-btn-neon {
          margin-top: calc(2vh + 1.5rem);
        }

        picture {
          z-index: -1;
        }
      }
    }
  }
}
