@use '../../abstracts/variables.scss';
@use '../../abstracts/mixin.scss';

#traumehotel {
  #wrapper {
    background-image: url('/assets/img/desktop/traumehotel/desktop_thetraumehotel_background.svg');
  }

  .slice-0 {
    background-image: url('/assets/img/desktop/traumehotel/desktop_traumehotel_intro.webp');

    .container-h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      width: inherit;

      h1,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }
  }

  .slice-1 {
    .row:first-child {
      position: relative;

      .glow-layer {
        left: 50%;
        margin-top: -1%;
        top: 50%;
        transform: translate(-42%, -58%);
      }

      .col-4:last-child {
        margin-left: 10%;
        padding-top: 12.5%;
        z-index: 10;
      }
    }

    .row:last-child {
      margin-left: 2.5%;

      h2,
      span {
        font-size: 3.875rem;
        z-index: 11;
      }
    }

    img,
    picture,
    source {
      position: relative;
      z-index: 10;
    }
  }

  .slice-2 {
    .container-xl > .row:first-child {
      flex-wrap: nowrap;

      .col-4 {
        margin: 7.5% -10% 0 0;
        padding: 0 0 0 -5%;
        z-index: 1;
      }
    }

    .container-xl > .row:last-child {
      margin-top: -5%;
      min-height: 35%;

      .col-3 {
        padding: 0;

        &:first-child {
          margin-left: 15%;
        }

        &:nth-child(2) {
          margin: 0 -7.5% 0 5%;
          z-index: 1;
        }

        img,
        picture,
        source {
          width: 105%;
        }
      }
    }
  }

  .slice-3 {
    .container-xl {
      .row:first-child {
        .col {
          display: flex;
          justify-content: center;

          h2,
          span {
            transform: translate(-50%, -50%);
          }

          .container-h2 {
            h2 {
              z-index: 17;
            }

            .layer-0 {
              z-index: 11;

              &::before {
                background-color: rgba(variables.$color-neutral-dark, 50%);
                content: '';
                filter: blur(2.5rem);
                height: 110%;
                position: absolute;
                width: 110%;
              }
            }

            .layer-1 {
              z-index: 12;
            }

            .layer-2 {
              z-index: 13;
            }

            .layer-3 {
              z-index: 14;
            }

            .layer-4 {
              z-index: 15;
            }

            .layer-5 {
              z-index: 16;
            }
          }
        }
      }

      .row:last-child {
        .col-2 {
          margin: 12.5% 0 7.5%;
          padding: 0 1rem;
          text-align: center;
          z-index: 11;
        }

        h4 {
          margin-left: -50%;
          width: 200%;
        }

        .container-stroke-neon {
          margin-bottom: 3.5rem;

          span {
            font-size: 2.25rem;
            transform: translateX(-50%);
          }

          .number {
            z-index: 17;
          }

          .layer-0 {
            z-index: 12;
          }

          .layer-1 {
            z-index: 13;
          }

          .layer-3 {
            z-index: 14;
          }

          .layer-4 {
            z-index: 15;
          }

          .layer-5 {
            z-index: 16;
          }
        }
      }
    }
  }

  .slice-4 {
    .container-xl {
      .row:first-child {
        .col {
          display: flex;
          justify-content: center;

          .container-stroke-neon.number {
            span {
              font-size: 6rem;
              transform: translate(-50%, -50%);
            }
          }

          .container-h2 {
            h2 {
              z-index: 17;
              transform: translate(-50%, 135%);
            }

            span {
              transform: translate(-50%, 100%);
            }
          }

          .layer-0 {
            z-index: 11;

            &::before {
              background-color: rgba(variables.$color-neutral-dark, 50%);
              content: '';
              filter: blur(2.5rem);
              height: 110%;
              position: absolute;
              width: 110%;
            }
          }

          .layer-1 {
            z-index: 12;
          }

          .layer-2 {
            z-index: 13;
          }

          .layer-3 {
            z-index: 14;
          }

          .layer-4 {
            z-index: 15;
          }

          .layer-5 {
            z-index: 16;
          }
        }
      }

      .row:last-child {
        .glow-layer {
          width: 80%;
          transform: translateX(10%);
        }

        .col-4 {
          margin: 12.5% 0 7.5%;
          z-index: 11;
        }

        .box {
          background-color: variables.$color-tertiary-icon-gamma;
          filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
          margin: 0 auto;
          padding: 3rem 3.9rem 1.5rem;
          text-align: center;
          width: 85%;
          z-index: 12;

          h4 {
            margin-left: -10%;
            width: 120%;
          }
        }
      }
    }
  }

  .slice-5 {
    .container-xl > .row:first-child {
      .col {
        display: flex;
        justify-content: center;

        .container-stroke-neon.number {
          span {
            font-size: 6rem;
            transform: translate(-50%, -50%);
          }
        }

        .container-h2 {
          h2 {
            z-index: 17;
            transform: translate(-50%, 135%);
          }

          span {
            transform: translate(-50%, 100%);
          }
        }

        .layer-0 {
          z-index: 11;

          &::before {
            background-color: rgba(variables.$color-neutral-dark, 50%);
            content: '';
            filter: blur(2.5rem);
            height: 110%;
            position: absolute;
            width: 110%;
          }
        }

        .layer-1 {
          z-index: 12;
        }

        .layer-2 {
          z-index: 13;
        }

        .layer-3 {
          z-index: 14;
        }

        .layer-4 {
          z-index: 15;
        }

        .layer-5 {
          z-index: 16;
        }
      }
    }

    .container-xl > .row:last-child {
      .glow-layer {
        width: 80%;
        transform: translateX(10%);
      }

      .box {
        background-color: variables.$color-tertiary-icon-gamma;
        filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
        height: 18rem;
        margin: 12.5% 0 5%;
        padding: 5% 10%;
        text-align: center;
        z-index: 12;

        &:first-child {
          margin-left: -2.5%;
        }

        &:last-child {
          margin-right: -2.5%;
        }

        h4 {
          margin-left: -10%;
          width: 120%;
        }
      }

      p {
        margin-bottom: 12.5%;
        position: relative;
        text-align: center;
      }
    }
  }

  .slice-6 {
    .row:first-child {
      margin-bottom: 15%;
      .col {
        display: flex;
        justify-content: center;

        .container-stroke-neon.number {
          span {
            font-size: 6rem;
            transform: translate(-50%, -50%);
          }
        }

        .container-h2 {
          h2 {
            z-index: 17;
            transform: translate(-50%, 135%);
          }

          span {
            transform: translate(-50%, 100%);
          }
        }
      }
    }

    .row:last-child {
      .col-6:last-child {
        height: 100%;
        margin: 10% 0 0 -5%;
        padding-right: 5%;

        .btn-neon,
        span {
          padding: 0 2rem;
          right: 0;
        }

        .btn-neon {
          background: none;
        }

        p {
          position: relative;
        }
      }
    }
  }
}
