@use '../../abstracts/variables.scss';
@use '../../abstracts/mixin.scss';

#m-beautyzentrum {
  .intro {
    position: relative;

    img,
    picture,
    source {
      width: 100%;
    }

    .container-h1 {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 75%;
    }

    h1,
    span {
      margin: 0;
      line-height: 1.5;
      text-align: center;
      transform: translate(-50%, -50%);
    }
  }

  .chamber-1 {
    margin: 20% 0;

    .row:first-child {
      .col-11:first-of-type {
        @include mixin.glow-layering(frame, secondary);
        position: relative;
      }

      .glow-layer {
        height: 105%;
        margin: -5% 0 0 3%;
        position: absolute;
        width: 95%;
      }

      img,
      picture,
      source {
        position: relative;
        width: 100%;
        z-index: 10;
      }
    }

    .row:nth-child(2) {
      .col-5 {
        margin-left: 1.5rem;
        z-index: 11;

        h2,
        span {
          font-size: 1.7rem;
          line-height: 1.2;
        }
      }
    }

    .row:nth-child(3) p {
      margin: calc(5% + 2rem) 0 0 1.5rem;
      position: relative;
      z-index: 12;
    }
  }

  .chamber-2 {
    margin: 20% 0;

    h2,
    span {
      line-height: 1.2;
    }

    .row {
      margin-bottom: 5%;
    }

    .row:first-child {
      .col-10 {
        padding-right: 1rem;
      }

      .col-8 {
        margin: 7.5% 0 0 -50%;
        padding-left: 1.5rem;
      }
    }

    .row:nth-child(2) {
      margin-top: -15%;

      .col-10 {
        padding-left: 2rem;
      }

      .col-7 {
        margin: 15% -40% 0 0;
      }
    }
  }

  .chamber-3 {
    margin: 40% 0 30%;
  }

  .chamber-4 {
    margin: 20% 0;

    img,
    picture,
    source {
      position: relative;
      z-index: 7;
    }

    .row:first-child {
      margin-top: 2rem;

      .container-h3 {
        margin: 1.5rem 0 4rem;
        text-align: center;

        h3,
        span {
          left: 50%;
          line-height: 1.2;
          transform: translateX(-50%);
          width: fit-content;
        }
      }

      .container-stroke-neon {
        height: 2.56rem;

        .stroke-.number,
        span {
          font-size: 2.56rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .box {
      background-color: variables.$color-tertiary-icon-gamma;
      filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
      margin: -20% auto 0;
      padding: 2.5rem 2.5rem 1rem;
      position: relative;
      text-align: center;
      width: 85%;
      z-index: 12;

      h4 {
        margin-left: -10%;
        width: 120%;
      }
    }

    .row:not(:first-child) .container-neon-strip {
      margin-top: 20%;
    }

    .row:nth-child(2) {
      margin-top: calc(5% + 2.5rem);
    }

    .row:nth-child(3) {
      margin-top: 10%;

      img,
      picture,
      source {
        margin-top: -10%;
      }
    }

    .row:nth-child(4) {
      margin-top: 20%;

      img,
      picture,
      source {
        margin-top: -10%;
      }
    }
  }

  .chamber-5 {
    margin: 20% 0;

    img,
    picture,
    source {
      position: relative;
      z-index: 7;
    }

    .row:first-child {
      margin-top: 2rem;

      .container-h3 {
        margin: 1.5rem 0 4rem;
        text-align: center;

        h3,
        span {
          left: 50%;
          line-height: 1.2;
          transform: translateX(-50%);
          width: fit-content;
        }
      }

      .container-stroke-neon {
        height: 2.56rem;

        .stroke-.number,
        span {
          font-size: 2.56rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      p {
        text-align: center;
      }
    }

    .row:nth-child(2) {
      margin-top: 1rem;
    }

    & > .row:nth-child(3) {
      @include mixin.glow-layering(frame, secondary);
      margin-top: calc(5% + 2rem);
      position: relative;

      & > .glow-layer {
        height: 60%;
        left: 50%;
        margin-left: -10%;
        max-width: none;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 130%;
      }

      .col-12 {
        column-gap: 1.4rem;
        display: grid;
        grid-template-columns: [c1] calc(50% - 0.7rem) [c2] calc(50% - 0.7rem) [c3];
        grid-template-rows: [r1] calc(50% - 0.7rem) [r2] calc(50% - 0.7rem) [r3];
        padding: 0;
        row-gap: 1.4rem;
      }

      .box {
        background-color: variables.$color-tertiary-icon-gamma;
        filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
        padding: 2rem 1rem;
        position: relative;
        z-index: 12;

        h4 {
          text-align: center;
        }
      }

      .box-1 {
        grid-column: c1 / c2;
        grid-row: r1 / r2;
      }

      .box-2 {
        grid-column: c2 / c3;
        grid-row: r1 / r2;
      }

      .box-3 {
        grid-column: c1 / c2;
        grid-row: r2 / r3;
      }

      .box-4 {
        grid-column: c2 / c3;
        grid-row: r2 / r3;
      }
    }

    .row:last-child {
      margin-top: 20%;
    }
  }

  .chamber-6 {
    margin: 30% 0;

    img,
    picture,
    source {
      position: relative;
      z-index: 7;
    }

    .row:first-child {
      margin-top: 2rem;

      .container-h3 {
        margin: 1.5rem 0 4rem;
        text-align: center;

        h3,
        span {
          left: 50%;
          line-height: 1.2;
          transform: translateX(-50%);
          width: fit-content;
        }
      }

      .container-stroke-neon {
        height: 2.56rem;

        .stroke-.number,
        span {
          font-size: 2.56rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }

    .row:nth-child(2) {
      margin: 20% 0 0;
    }

    .row:nth-child(3) {
      margin: 10% 0 30%;
    }
  }
}
