@use '../../abstracts/mixin.scss';
@use '../../abstracts/variables.scss';

#m-scopri {
  .container-sm {
    background-image: url('/assets/img/mobile/scopri/mobile_scopri_background.svg');
  }

  .intro {
    position: relative;

    picture {
      display: block;
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
    }

    .container-h1 {
      position: absolute;
      left: 50%;
      top: 50%;
    }

    h1,
    span {
      transform: translate(-50%, -50%);
    }
  }

  .chamber-1 {
    .row:first-child {
      margin: calc(3.5rem + 5%) 0 5%;
    }

    .row:nth-child(2) {
      margin: 5% 0 30%;

      #places-carousel {
        margin-top: calc(5% + 2rem);
      }
    }
  }

  .chamber-2 {
    .row:not(:first-child) {
      margin-bottom: 25%;

      & > .glow-layer {
        height: calc(130% + 2rem);
        margin: -7.5% 0 0 -10%;
      }

      h4,
      p,
      .col-8 > span:first-of-type {
        position: relative;
        z-index: 10;
      }
    }

    .row:first-child {
      margin: 5% 0 calc(7.5% + 2rem);
    }

    .container-stroke-neon span {
      font-size: 2.57rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -20%);
    }

    .col-3 span:first-child {
      font-size: 1.35rem;
    }

    .col-6 p {
      padding-right: 4rem;
    }
  }

  .chamber-3 {
    & > .row:first-child {
      margin: 30% 0 calc(5% + 2rem);
    }

    .row:not(:first-child) {
      margin-bottom: 5%;

      .container-stroke-neon {
        span {
          font-size: 2.66rem;
          transform: translate(10%, -90%);
        }

        .number {
          z-index: 17;
        }

        .layer-0 {
          z-index: 12;
        }

        .layer-1 {
          z-index: 13;
        }

        .layer-3 {
          z-index: 14;
        }

        .layer-4 {
          z-index: 15;
        }

        .layer-5 {
          z-index: 16;
        }
      }

      &:last-child {
        margin-bottom: 30%;
      }
    }

    .box {
      background-color: variables.$color-tertiary-icon-gamma;
      filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
      margin-left: -1.5rem;
      padding: 0.5rem 1.5rem;
      position: relative;
      width: calc(100% + 3rem);
      z-index: 12;
    }
  }

  .chamber-4 {
    .row:first-child {
      margin: 30% 0 1rem;
    }

    .row:nth-child(2) .col-12 {
      margin-right: -1.5rem;
    }

    .row:nth-child(3) {
      margin-top: -5%;
      padding-right: 1rem;
    }

    .row:nth-child(4) {
      margin: -20% -0.5rem 15% 0;

      .col-6 {
        padding-left: 1.5rem;
      }
    }

    .row:last-child {
      margin: 5% 0 25%;

      & > .glow-layer {
        height: 130%;
        left: 50%;
        top: 50%;
        transform: translate(-20%, -50%);
      }

      .col-12 {
        z-index: 11;
      }
    }
  }

  .chamber-5 {
    & > .row:first-child {
      margin: 30% 0 calc(5% + 2rem);
      padding: 0 1rem;
    }

    & > .row:nth-child(3) {
      margin-top: 5%;

      .container-input-neon {
        margin: 0 0 1.5rem;
        height: 1.86rem;
      }

      label {
        font-size: 1.29rem;
        margin-bottom: 0.5rem;
        text-transform: uppercase;
      }

      .form-row:not(:last-child) {
        input,
        span,
        textarea {
          height: 100%;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .form-row:first-child .container-input-neon > input {
        padding: 0;
      }

      .form-row:nth-child(2) .container-input-neon {
        height: 5.24rem;
      }

      .form-row:last-child {
        margin: 1.5rem 0 30%;

        .col-12 {
          padding: 0;
        }
      }
    }

    & > .row:last-child {
      margin: 15% 0 35%;
      height: 500px;

      .col-5 {
        height: 100%;
        margin: 20% 0 10% -1px;
        padding: 0 1px;

        &:nth-child(4) {
          padding: 0;

          ul {
            justify-content: space-around;
          }
        }
      }

      .col-1 {
        background-color: variables.$color-neutral-light;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: calc(100% + 1rem);
        justify-content: space-between;
        margin-top: calc(20% - 2rem);
        padding: 0;
        width: 3px;

        .point {
          background-color: variables.$color-neutral-light;
          clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
          content: '';
          display: block;
          height: 1rem;
          width: 1rem;
          z-index: 1;
        }

        .point-1 {
          transform: translateY(-50%);
        }

        .point-2 {
          transform: translateY(-50%);
        }

        .point-3 {
          transform: translateY(0);
        }

        .point-4 {
          transform: translateY(50%);
        }

        .point-5 {
          transform: translateY(50%);
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        list-style: none;
        margin: 0;
        padding: 0;

        .container-btn-neon {
          margin-top: -1.5rem;
          width: 100%;

          a,
          span {
            width: 100%;
          }
        }
      }
    }
  }
}
