<!DOCTYPE html>

<html lang="it">
  <head>
    <meta charset="utf-8" />
    <title>Delirium - The Beauty Zentrum</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Roboto:wght@700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="/assets/style/main.css" />
  </head>

  <body id="m-beautyzentrum">
    <header>
      <nav>
        <div id="menu-toggle">
          <span class="hamburger"></span>
          <span class="hamburger"></span>
          <span class="hamburger"></span>
          <span class="hamburger"></span>
        </div>
        <ul id="menu">
          <li>
            <a class="btn-neon" href="index">home</a>
          </li>
          <li>
            <a class="btn-neon" href="delirium">delirium</a>
          </li>
          <li>
            <a class="btn-neon" href="accesso">accesso</a>
          </li>
          <li>
            <a class="btn-neon" href="piaceri">piaceri</a>
          </li>
          <li>
            <a class="btn-neon" href="community">community</a>
          </li>
          <li>
            <a class="btn-neon" href="scopri">scopri</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="container-sm gx-3">
        <section class="intro">
          <picture>
            <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_intro.webp" type="image/webp" />
            <img
              src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_intro.jpg"
              alt="Piscina al chiuso illuminata da neon blu"
              loading="lazy"
            />
          </picture>
          <h1 class="secondary-color">the beauty zentrum</h1>
        </section>
        <section class="chamber-1">
          <div class="row justify-content-center">
            <div class="col-11 container-neon-frame container-secondary-color">
              <picture>
                <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_uomo.webp" type="image/webp" />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_uomo.jpg"
                  alt="Uomo con pelle fluorescente"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col-5">
              <h2 class="secondary-color">the beauty zentrum</h2>
            </div>
          </div>
          <div class="row justify-content-start">
            <div class="col">
              <p>
                Un centro estetico all’avanguardia in grado di modificare l’aspetto fisico dei clienti con una
                tecnologia illusoria.
              </p>
            </div>
          </div>
        </section>
        <section class="chamber-2">
          <div class="row justify-content-end flex-nowrap">
            <div class="col-10 sheet-img">
              <picture>
                <source
                  srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_unanuovavita.webp"
                  type="image/webp"
                />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_unanuovavita.jpg"
                  alt="Donna sdraiata in una vasca con acqua bassa"
                  loading="lazy"
                />
              </picture>
            </div>
            <div class="col-8 sheet-content">
              <h3 class="secondary-color">u na nuov a v i ta</h3>
              <p class="sibling-h3">
                Con una semplice illusione potrai diventare la persona che hai sempre voluto essere da capo a piedi.
              </p>
            </div>
          </div>
          <div class="row justify-content-start flex-nowrap">
            <div class="col-7 sheet-content">
              <h3 class="secondary-color">augen</h3>
              <p class="sibling-h3">
                Per godere dell’illusione dovrei utilizzare gli
                <strong> Augen </strong>, una tecnologia illusoria di ultima generazione.
              </p>
            </div>
            <div class="col-10 sheet-img">
              <picture>
                <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_augen.webp" type="image/webp" />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_augen.jpg"
                  alt="Dettaglio di un occhio illuminato di viola"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
        </section>
        <section class="chamber-3">
          <div class="row justify-content-start">
            <div class="col-8">
              <h2 class="secondary-color">crea i l tuo a va tar</h2>
            </div>
          </div>
        </section>
        <section class="chamber-4">
          <div class="row justify-content-center">
            <div class="col">
              <span class="stroke-neon secondary-color number">01</span>
              <div class="neon-strip tertiary-color"></div>
              <h3 class="secondary-color">razza e poteri</h3>
              <p class="sibling-h3">
                Inizia la transformation selezionando l’etnia e i
                <em>powers</em> che più ti rappresentano.
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <picture>
                <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_fatui.webp" type="image/webp" />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_fatui.jpg"
                  alt="Individuo dalle sembianze femminili con protuberanze ossee sulla fronte"
                  loading="lazy"
                />
              </picture>
              <div class="neon-strip secondary-color"></div>
              <div class="box">
                <h4>fatu i</h4>
                <p class="sibling-h4">
                  Essere fatati nati dalla Terra dotati di straordinaria forza fisica ma di indole pacifica.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="neon-strip secondary-color"></div>
              <picture>
                <source
                  srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_luminanti.webp"
                  type="image/webp"
                />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_luminanti.jpg"
                  alt="Individuo femminile con pelle, capelli, ciglia e sopraciglia fluorescenti"
                  loading="lazy"
                />
              </picture>
              <div class="neon-strip secondary-color"></div>
              <div class="box">
                <h4>lumi nanti</h4>
                <p class="sibling-h4"
                  >Esseri con pelle semitrasparente in grado di leggere la mente e di comunicare con essa.
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="neon-strip secondary-color"></div>
              <picture>
                <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_cyber.webp" type="image/webp" />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_cyber.jpg"
                  alt="Robot con sembianze umane maschili"
                  loading="lazy"
                />
              </picture>
              <div class="neon-strip secondary-color"></div>
              <div class="box">
                <h4>cyber</h4>
                <p class="sibling-h4"
                  >Metà uomo, metà computer, ibridi dall’intelligenza completa, umana-artificiale.</p
                >
              </div>
            </div>
          </div>
        </section>
        <section class="chamber-5">
          <div class="row justify-content-center">
            <div class="col">
              <span class="stroke-neon secondary-color number">02</span>
              <div class="neon-strip tertiary-color"></div>
              <h3 class="secondary-color">corpo</h3>
              <p class="sibling-h3">Modella un corpo che ti rispecchi nella tua nuova <em>life</em> a Delirium.</p>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <picture>
                <source srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_corpo.webp" type="image/webp" />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_corpo.jpg"
                  alt="Donna ricoperta di brillantini viola e dettaglio di piscina viola con riflessi"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
          <div class="row justify-content-between container-neon-frame container-secondary-color">
            <div class="col-12">
              <div class="box box-1">
                <h4>altezza</h4>
                <p class="sibling-h4">Essere un gigante? Unǝ nanǝ? Entrambi? A Delirium puoi.</p>
              </div>
              <div class="box box-2">
                <h4>peso</h4>
                <p class="sibling-h4"><em>Fly</em> come una piuma o schiaccia tutto con il tuo enorme peso.</p>
              </div>
              <div class="box box-3">
                <h4>forme</h4>
                <p class="sibling-h4">Scegli la <em>shape</em> che più prediligi. Spigolosǝ o sinuosǝ?</p>
              </div>
              <div class="box box-4">
                <h4>pelle</h4>
                <p class="sibling-h4">Una varietà di palette in voga come Regular, Neon, Glitter, Pastel!</p>
              </div>
            </div>
          </div>
        </section>
        <section class="chamber-6">
          <div class="row justify-content-center">
            <div class="col">
              <span class="stroke-neon secondary-color number">03</span>
              <div class="neon-strip tertiary-color"></div>
              <h3 class="tertiary-color">vi so e capelli</h3>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <picture>
                <source
                  srcset="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_visoecapelli.webp"
                  type="image/webp"
                />
                <img
                  src="/assets/img/mobile/beautyzentrum/mobile_beautyzentrum_visoecapelli.jpg"
                  alt="Uomo con pelle scura e macchie luminescenti"
                  loading="lazy"
                />
              </picture>
            </div>
          </div>
          <div class="row justify-content-start">
            <p class="sibling-btn">
              Plasma il tuo viso come lo hai sempre desiderato! Scegli la forma, non importa se assurda; il colore degli
              occhi che più ti aggrada tra tutti quelli esistenti (e inesistenti: crea il tuo colore!); e il materiale,
              la lunghezza, l'acconciatura dei tuoi capelli.
            </p>
            <a class="btn-neon" href="#">prenota</a>
          </div>
        </section>
      </div>
    </main>

    <footer>
      <div class="footer-layer layer-0"></div>
      <div class="footer-layer layer-1"></div>
      <div class="footer-layer layer-2"></div>
      <div class="footer-layer layer-3"></div>
      <div class="footer-layer layer-4"></div>
      <div id="footer-menu" class="footer-layer">
        <div class="container-lg">
          <div class="row justify-content-around align-content-center flex-wrap">
            <div class="col-7">
              <ul>
                <li>
                  <a class="footer-text primary-color" href="index">home</a>
                </li>
                <li>
                  <a class="footer-text primary-color" href="community">contatti</a>
                </li>
              </ul>
            </div>
            <div class="col-4">
              <ul>
                <li>
                  <a class="container-icon container-primary-color" href="#" rel="nofollow">
                    <svg
                      class="icon layer-0"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        fill="currentColor"
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-1"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-2"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-3"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-4"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-5"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 320 512"
                    >
                      <path
                        d="M309.8 480.3c-13.6 14.5-50 31.7-97.4 31.7-120.8 0-147-88.8-147-140.6v-144H17.9c-5.5 0-10-4.5-10-10v-68c0-7.2 4.5-13.6 11.3-16 62-21.8 81.5-76 84.3-117.1 .8-11 6.5-16.3 16.1-16.3h70.9c5.5 0 10 4.5 10 10v115.2h83c5.5 0 10 4.4 10 9.9v81.7c0 5.5-4.5 10-10 10h-83.4V360c0 34.2 23.7 53.6 68 35.8 4.8-1.9 9-3.2 12.7-2.2 3.5 .9 5.8 3.4 7.4 7.9l22 64.3c1.8 5 3.3 10.6-.4 14.5z"
                      ></path>
                    </svg>
                  </a>
                </li>
                <li>
                  <a class="container-icon container-primary-color" href="#" rel="nofollow">
                    <svg
                      class="icon layer-0"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-1"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-2"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-3"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-4"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                    <svg
                      class="icon layer-5"
                      aria-hidden="true"
                      focusable="false"
                      role="img"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 448 512"
                    >
                      <path
                        d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
                      ></path>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script src="/assets/script/bootstrap.min.js"></script>
    <script src="/assets/script/index.js"></script>
  </body>
</html>
