#t-accesso {
  background-image: url('/assets/img/tablet/accesso/tablet_accesso_background.svg');

  .intro {
    position: relative;

    picture {
      display: block;
      margin-left: -1.5rem;
      width: calc(100% + 3rem);
    }

    .container-h1 {
      position: absolute;
      left: 50%;
      top: 50%;
    }

    h1,
    span {
      transform: translate(-50%, -50%);
    }
  }

  .chamber-1 {
    .row:first-child {
      img,
      picture,
      source {
        filter: brightness(75%);
      }
    }

    .row:nth-child(2) {
      margin: -20% 5% 5% 0;

      h2 {
        line-height: 1.5;
        margin-bottom: 0;
      }

      p {
        margin-top: 3.5rem;
      }
    }

    .row:nth-child(3) {
      margin-bottom: -25%;

      div[class^='col'] {
        z-index: 3;
      }
    }

    .row:nth-child(4) {
      margin: 0 5% -5% 0;

      div[class^='col'] {
        z-index: 2;
      }
    }
  }

  .chamber-2 {
    .row {
      margin-bottom: 2.5rem;
    }

    .container-input-neon {
      margin: 0;

      input,
      span,
      textarea {
        height: 100%;
        margin-bottom: 1.5rem;
        transform: translateY(0);
      }
    }

    .container-check-neon {
      height: 3.5rem;
      width: 3.5rem;
    }

    form .row:not(:nth-child(4)) .container-input-neon {
      height: 3.5rem;
    }

    form .row:nth-child(4) .container-input-neon {
      height: 12.5rem;
    }

    form .row:not(:nth-child(-1)) label {
      font-size: 1.5rem;
      text-transform: uppercase;
    }

    form .row:nth-child(8) p {
      margin: 0 auto;
      text-align: center;
      width: 80%;
    }

    form .row:last-child .btn-neon,
    form .row:last-child span {
      left: 50%;
      margin-top: 1.5rem;
      transform: translate(-50%, -50%);
    }

    .form-check {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    #avatar-row {
      height: 24rem;

      #avatar-col {
        height: 100%;
        margin: 0 auto;
        position: relative;

        #avatar-edit {
          left: 50%;
          position: absolute;
          top: 50%;

          input {
            display: none;
          }

          .container-btn-neon {
            label {
              cursor: pointer;
            }

            label,
            span {
              transform: translate(-50%, -50%) !important;
            }
          }
        }

        #avatar-preview {
          height: 100%;
          position: relative;
          width: 100%;

          #image-preview {
            background-image: url('/assets/img/tablet/accesso/tablet_accesso_registrazione.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            height: 100%;
            width: 100%;
          }
        }
      }
    }
  }

  .chamber-3 {
    .row:first-child,
    .row:nth-child(2) {
      margin-bottom: 2.5rem;
    }

    .row:last-child {
      margin: -20% 0 50%;
    }

    .sheet-content {
      margin-top: -25%;
    }
  }
}
