@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

#delirium {
  .wrapper {
    background-image: url("img/desktop_delirium_background.svg");
  }

  .slide-0 {
    background-image: url("img/desktop_delirium_intro.webp");

    .container-h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      width: inherit;

      h1,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }
  }

  .slide-1 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 18vh 2vw !important;
    }

    .row {
      img,
      picture,
      source {
        width: 100%;
      }

      &:last-child {
        padding: 0 1%;

        .col-6 {
          margin: -5% 3% 0 0;
        }

        .col-4 {
          margin: 2% 0 0 -10%;
          padding-right: 5%;
        }
      }

      &:nth-child(2) {
        .col-5 {
          margin: 3% 0 0 -30%;
          padding-left: 2%;
        }
      }
    }
  }

  .slide-2 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 18vh 5vw !important;
    }

    .row:last-child {
      height: 84%;
      margin-top: 2%;

      .col-3 {
        display: flex;
        flex-direction: column;

        &:first-child {
          justify-content: flex-end;
          z-index: 4;
        }

        &:nth-child(2) {
          justify-content: flex-start;
          margin: 5% -8% 0 -10%;
          z-index: 3;
        }

        &:nth-child(3) {
          justify-content: center;
          margin: 8% -3% 0;
          z-index: 2;
        }

        &:nth-child(4) {
          justify-content: flex-start;
          margin: 0 -5% 0 -10%;
          z-index: 1;
        }

        &:last-child {
          justify-content: flex-end;
          margin-left: -3%;
          z-index: 4;
        }

        img,
        picture,
        source {
          width: 100%;
        }
      }

      .container-btn-neon {
        a,
        span {
          left: 50%;
          padding: 0 2rem;
          transform: translate(-50%, -50%);
          width: fit-content;
        }
      }
    }
  }

  .slide-3 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 18vh 2vw !important;
    }

    .row:last-child {
      margin-top: 2%;

      img,
      picture,
      source {
        width: 100%;
      }
    }
  }

  .slide-4 {
    .row {
      height: 29vh;
      margin-bottom: -1.5vh;
      margin-left: 0 !important;
      margin-right: 0 !important;
      padding: 0 !important;

      .sheet-content {
        margin: 4% 0 0;
        padding: 0;
        z-index: 2;

        &::before {
          height: calc(100% + 2rem + 2em);
          margin-left: -1.5em;
          margin-top: calc(-3rem + -1em);
          width: calc(100% + 3em);
          z-index: 1;
        }

        p {
          position: relative;
          z-index: 3;
        }
      }

      .sheet-img {
        height: 100%;
        margin: 0;
        padding: 0;

        img,
        picture,
        source {
          height: 100%;
        }
      }

      &:first-child {
        margin-top: 8vh;

        .sheet-img {
          z-index: -2;
        }
      }

      &:last-child {
        margin-bottom: 8vh;

        .sheet-img {
          z-index: 0;
        }
      }

      &:nth-child(2) {
        .sheet-content {
          .container-h2 * {
            right: 0;
          }

          .container-btn-neon * {
            right: 0;
          }

          p {
            text-align: right;
          }
        }

        .sheet-img {
          position: relative;
          z-index: -1;

          picture {
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }

  .slide-5 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 18vh 2vw !important;
    }

    .row {
      &:last-child {
        font-size: 3rem;
        text-align: center;
      }

      &:nth-child(2) {
        ul {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-around;
          list-style-type: none;

          li {
            font-size: 2rem;
            text-transform: uppercase;
          }
        }
      }

      &:nth-child(3) {
        height: 9.5rem;

        .container-stroke-neon {
          text-align: center;

          span {
            font-size: 9.35rem;
            font-family: variables.$font-number;
            font-weight: 700;
            transform: translateX(-50%);
            width: fit-content;
          }
        }
      }

      &:nth-child(4) {
        .col-6 {
          padding: 0 4%;
        }
      }
    }
  }
}
