@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

#scopri {
  .wrapper {
    background-image: url(img/desktop_scopri_background.svg);
  }

  .slide-0 {
    background-image: url(img/desktop_scopri_intro.webp);

    .container-h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      width: inherit;

      h1,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }
  }

  .slide-1 {
    .row {
      &:first-child {
        margin-top: calc(8.5vh + 3.5rem);
      }

      &:nth-child(2) {
        height: 35vh;
        margin: calc(1.4vh + 3.5rem) 0 1.9vh;

        .col-4 {
          display: flex;
          flex-direction: column;

          &:first-child {
            justify-content: center;
          }

          &:nth-child(2) {
            justify-content: end;
          }

          &:last-child {
            justify-content: start;
          }
        }
      }

      &:last-child {
        height: 43vh;
        margin-bottom: 6.25rem;
        padding: 0 2vw;
      }
    }

    .container-btn-neon {
      width: 100%;

      .btn-neon,
      span {
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
      }
    }
  }

  .slide-2 {
    .container-xl {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 14vh 8vw !important;

      .row {
        height: 20%;

        .col-6 {
          padding: 0 4%;
        }

        .col-3 span {
          font-size: 1.5rem;
        }

        &:first-child {
          height: 10%;
        }
      }

      .container-stroke-neon {
        margin-top: 2.5rem;

        span {
          font-family: variables.$font-number;
          font-size: 6rem;
        }
      }
    }
  }

  .slide-3 {
    & > .container-xl > .row {
      height: 52vh;
      margin-top: 20vh;

      & > .col-3 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 2.5rem;

        .number > span {
          font-size: 3rem;
          margin-top: 1.5rem;
        }
      }
    }

    .grid-container {
      column-gap: 1rem;
      display: grid;
      grid-template-rows: [r1] calc(50% - 0.5rem) [r2] calc(50% - 0.5rem) [r3];
      grid-template-columns:
        [a] calc(100% / 3 - 2rem / 3) [b] calc(100% / 3 - 2rem / 3)
        [c] calc(100% / 3 - 2rem / 3) [d];
      row-gap: 1.5rem;

      div[class^="cell"] {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: relative;

        .number > span {
          font-size: 3rem;
          margin: -2rem 0 0 1rem;
        }
      }

      .cell-1 {
        padding-bottom: 1.5rem;
        grid-column: a / b;
        grid-row: r1 / r2;
      }

      .cell-2 {
        grid-column: b / c;
        grid-row: r1 / r2;
      }

      .cell-3 {
        grid-column: c / d;
        grid-row: r1 / r2;
      }

      .cell-4 {
        grid-column: a / b;
        grid-row: r2 / r3;
      }

      .cell-5 {
        grid-column: b / c;
        grid-row: r2 / r3;
      }

      .cell-6 {
        grid-column: c / d;
        grid-row: r2 / r3;
      }
    }

    img,
    picture,
    source {
      width: 100%;
    }
  }

  .slide-4 {
    .container-xl {
      padding: 0 3.5vw;

      & > .row:first-child {
        flex-wrap: nowrap;
        margin-top: 10vh;

        .col-6:first-child {
          padding-right: 5%;
        }

        .col-6:last-child {
          margin-left: -7.5%;
          padding-right: 10%;
        }

        .sheet-content {
          &::before {
            margin: -2rem;
          }
        }
      }

      & > .row:last-child {
        margin-top: -12%;

        .col-5 {
          padding-left: 10%;
        }

        .col-6 {
          padding-right: 12.5%;
        }
      }
    }

    img,
    picture,
    source {
      width: 100%;
    }
  }

  .slide-5 {
    .container-xl > .row {
      &:first-child {
        height: fit-content;
        margin-top: 12vh;

        .container-h2 {
          margin-bottom: 3rem;
        }

        .col-4:first-child {
          padding-left: 5%;
        }

        .col-4:last-child {
          padding-right: 5%;
          & > form {
            height: 45vh;
          }
        }

        .container-input-neon {
          &:first-of-type {
            min-height: 3rem;
          }

          &:nth-of-type(2) {
            min-height: 10rem;
            margin-bottom: 3%;
          }

          button,
          input,
          span,
          textarea {
            height: 100%;
            width: 100%;
            transform: translateY(0%);
          }
        }

        .container-btn-neon {
          margin-top: 1.5rem;

          .btn-neon {
            background: none;
          }

          button,
          span {
            transform: translateY(0%);
          }
        }

        label {
          font-size: 1.5rem;
          text-transform: uppercase;

          &:nth-of-type(2) {
            margin-top: 1.5rem;
          }
        }
      }

      &:nth-child(2) {
        min-height: 3rem;
        margin: 9vh 10% 1.5rem;

        .btn-neon,
        span {
          width: 100%;
        }
      }

      &:nth-child(3) {
        background-color: variables.$color-neutral-light;
        height: 3px;
        margin: 0 12.5%;

        .col {
          display: flex;
          flex-flow: row nowrap;
          justify-content: space-between;
          padding: 0;
        }

        .point {
          background-color: variables.$color-neutral-light;
          content: "";
          display: block;
          height: 1rem;
          margin-top: 3px;
          transform: rotate(45deg) translate(-50%, -50%);
          width: 1rem;
          z-index: 11;
        }
      }

      &:last-child {
        min-height: 3rem;
        margin-top: 1.5rem;

        .btn-neon,
        span {
          width: 100%;
        }
      }

      .container-btn-neon {
        min-height: 3rem;
      }
    }
  }
}
