@use "../abstracts/variables.scss";
@use "../abstracts/mixin.scss";

#traume-hotel {
  .wrapper {
    background-image: url("img/desktop_thetraumehotel_background.svg");
  }

  .slide-0 {
    background-image: url("img/desktop_theträumehotel_intro.webp");

    .container-h1 {
      left: 50%;
      position: absolute;
      top: 50%;
      width: inherit;

      h1,
      span {
        transform: translate(-50%, -50%) !important;
      }
    }
  }

  .slide-1 {
    .row:first-child {
      margin-top: 26vh;
      position: relative;

      .col-4:first-of-type {
        @include mixin.glow-layering(frame, secondary);
      }

      .glow-layer {
        height: 101%;
        margin-top: -1%;
        position: absolute;
        width: 33%;
      }

      .col-4:last-child {
        margin-left: 10%;
        padding-top: 12.5%;
        z-index: 10;
      }
    }

    .row:last-child {
      margin-left: 2.5%;

      h2,
      span {
        font-size: 3.875rem;
        z-index: 11;
      }
    }

    img,
    picture,
    source {
      position: relative;
      width: 100%;
      z-index: 10;
    }
  }

  .slide-2 {
    .container-xl > .row:first-child {
      flex-wrap: nowrap;
      margin-top: 14vh;

      .col-4 {
        margin: 7.5% -10% 0 0;
        padding: 0 0 0 -5%;
        z-index: 1;
      }

      img,
      picture,
      source {
        width: 100%;
      }
    }

    .container-xl > .row:last-child {
      margin-top: -5%;
      min-height: 32vh;

      .col-3 {
        padding: 0;

        &:first-child {
          margin-left: 15%;
        }

        &:nth-child(2) {
          margin: 0 -7.5% 0 5%;
          z-index: 1;
        }

        img,
        picture,
        source {
          width: 105%;
        }
      }
    }
  }

  .slide-3 {
    .container-xl {
      .row:first-child {
        margin-top: 33vh;

        .col {
          display: flex;
          justify-content: center;

          h2,
          span {
            transform: translate(-50%, -50%);
          }

          .container-h2 {
            h2 {
              z-index: 17;
            }

            .layer-0 {
              z-index: 11;

              &::before {
                background-color: rgba(variables.$color-neutral-dark, 50%);
                content: "";
                filter: blur(2.5rem);
                height: 110%;
                position: absolute;
                width: 110%;
              }
            }

            .layer-1 {
              z-index: 12;
            }

            .layer-2 {
              z-index: 13;
            }

            .layer-3 {
              z-index: 14;
            }

            .layer-4 {
              z-index: 15;
            }

            .layer-5 {
              z-index: 16;
            }
          }
        }
      }

      .row:last-child {
        @include mixin.glow-layering(frame, tertiary);

        height: 40vh;
        position: relative;

        .glow-layer {
          height: 100%;
          position: absolute;
          width: 100%;
        }

        .col-2 {
          padding: 0 1rem;
          text-align: center;
          z-index: 11;
        }

        h4 {
          margin-left: -50%;
          width: 200%;
        }

        .container-stroke-neon {
          margin-bottom: 3.5rem;

          span {
            font-size: 2.25rem;
            transform: translateX(-50%);
          }

          .number {
            z-index: 17;
          }

          .layer-0 {
            z-index: 12;
          }

          .layer-1 {
            z-index: 13;
          }

          .layer-3 {
            z-index: 14;
          }

          .layer-4 {
            z-index: 15;
          }

          .layer-5 {
            z-index: 16;
          }
        }
      }
    }
  }

  .slide-4 {
    .container-xl {
      .row:first-child {
        margin-top: 20vh;
        .col {
          display: flex;
          justify-content: center;

          .container-stroke-neon.number {
            span {
              font-size: 6rem;
              transform: translate(-50%, -50%);
            }
          }

          .container-h2 {
            h2 {
              z-index: 17;
              transform: translate(-50%, 135%);
            }

            span {
              transform: translate(-50%, 100%);
            }
          }

          .layer-0 {
            z-index: 11;

            &::before {
              background-color: rgba(variables.$color-neutral-dark, 50%);
              content: "";
              filter: blur(2.5rem);
              height: 110%;
              position: absolute;
              width: 110%;
            }
          }

          .layer-1 {
            z-index: 12;
          }

          .layer-2 {
            z-index: 13;
          }

          .layer-3 {
            z-index: 14;
          }

          .layer-4 {
            z-index: 15;
          }

          .layer-5 {
            z-index: 16;
          }
        }
      }

      .row:last-child {
        @include mixin.glow-layering(frame, secondary);

        height: 62vh;
        position: relative;

        .glow-layer {
          height: 100%;
          position: absolute;
          width: 80%;
          transform: translateX(10%);
        }

        .col-4 {
          margin-top: 5%;
          z-index: 11;
        }

        .box {
          background-color: variables.$color-tertiary-icon-gamma;
          filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
          margin: 0 10%;
          padding: 3rem 4rem 1.5rem;
          text-align: center;
          width: 80%;
          z-index: 12;

          h4 {
            margin-left: -10%;
            width: 120%;
          }
        }
      }
    }
  }

  .slide-5 {
    .container-xl > .row:first-child {
      margin-top: 20vh;
      .col {
        display: flex;
        justify-content: center;

        .container-stroke-neon.number {
          span {
            font-size: 6rem;
            transform: translate(-50%, -50%);
          }
        }

        .container-h2 {
          h2 {
            z-index: 17;
            transform: translate(-50%, 135%);
          }

          span {
            transform: translate(-50%, 100%);
          }
        }

        .layer-0 {
          z-index: 11;

          &::before {
            background-color: rgba(variables.$color-neutral-dark, 50%);
            content: "";
            filter: blur(2.5rem);
            height: 110%;
            position: absolute;
            width: 110%;
          }
        }

        .layer-1 {
          z-index: 12;
        }

        .layer-2 {
          z-index: 13;
        }

        .layer-3 {
          z-index: 14;
        }

        .layer-4 {
          z-index: 15;
        }

        .layer-5 {
          z-index: 16;
        }
      }
    }

    .container-xl > .row:last-child {
      @include mixin.glow-layering(frame, secondary);

      height: 62vh;
      position: relative;

      .glow-layer {
        height: 100%;
        position: absolute;
        width: 80%;
        transform: translateX(10%);
      }

      .box {
        background-color: variables.$color-tertiary-icon-gamma;
        filter: drop-shadow(0.94rem 0.94rem 0.94rem rgba(#000, 30%));
        height: 18rem;
        margin-top: 7.5%;
        padding: 5% 10%;
        text-align: center;
        z-index: 12;

        &:first-child {
          margin-left: -2.5%;
        }

        &:last-child {
          margin-right: -2.5%;
        }

        h4 {
          margin-left: -10%;
          width: 120%;
        }

        .numbers {
          font-family: variables.$font-body;
          font-weight: bold;
        }
      }

      p {
        text-align: center;
      }
    }
  }

  .slide-6 {
    .row:first-child {
      height: 13vh;
      margin-top: 20vh;

      .col {
        display: flex;
        justify-content: center;

        .container-stroke-neon.number {
          span {
            font-size: 6rem;
            transform: translate(-50%, -50%);
          }
        }

        .container-h2 {
          h2 {
            z-index: 17;
            transform: translate(-50%, 135%);
          }

          span {
            transform: translate(-50%, 100%);
          }
        }
      }
    }

    .row:last-child {
      .col-4:last-child {
        height: 100%;
        margin-left: -5%;
        padding-right: 5%;

        .btn-neon,
        span {
          padding: 0 2rem;
          right: 0;
        }

        .btn-neon {
          background: none;
        }

        p {
          position: relative;
        }
      }

      img,
      picture,
      source {
        width: 100%;
      }
    }
  }
}
